.tmp.driveupload/
.tmp.drivedownload/
.makemd/
.makemd/fileCache.mdb
.makemd/superstate.mdb
.obsidian/
private/
desktop.ini
# if .gitignore does not work as intended
# git rm -r --cached .
# git add .
# git commit -m "fix: fixed untraked files"